.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // координаты фиксированного menu
  position: fixed; /* Фиксированное положение */
  background: white; /* Цвет фона */
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */

  &__logo {
    position: relative;
    left: 9.6%;
    margin: 15px 0 15px 0;

    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;

    a {
      text-decoration: none;
      color: $black;
    }

    .test {
      color: $blue;
    }
  }

  &__navigation {
    margin-top: 20px;
    width: 24%;

    font-family: 'PT Root UI Light';
    text-transform: uppercase;
    font-size: 14px;

    a {
      margin: 8px 12px 8px 12px;
      text-decoration: none;
      color: $black;
    }
    a:hover {
      color: $blue;
    }
  }

  &__buttons {
    display: flex;
    position: relative;
    right: 9.5%;
    margin-top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    .bag-icon-black:hover {
      opacity: 0;
    }
    .bag-icon-black-unvisible {
      opacity: 0;
    }

    .bag-icon-hover-active {
      position: absolute;
      left: 40px;
      z-index: -1;
    }
    .buttons__bag-icon {
      margin: 0 16px 0 16px;
    }

    .buttons_notification {
      display: none;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 58px;
      top: -11px;
      background: $blue;
      border-radius: 10px;
      color: white;
      font-family: 'PT Root UI Light';
      font-size: 11px;
      line-height: 16px;
      text-align: center;

    }
  }

  &__fast-cart {
    display: none;
    width: 235px;
    height: 200px;
    z-index: 1;
    position: absolute;
    top: 56px;
    right: 1px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */

    &_visible {
      display: block;
      flex-direction: column;
    }

    .fast-cart__empty {
      display: flex;

      img {
        position: absolute;
        left: 96px;
        top: 61px;
      }

      span {
        position: absolute;
        left: 49px;
        top: 119px;
        color: $grey-2;
        font-family: "PT Root UI Light";
        font-size: 14px;
        line-height: 20px;

      }
    }
    .fast-cart__content {
      display: flex;
      flex-direction: column;
      margin: 20px;
    }
    .content{
      &__product {

      }

      &__separator {
        width: 100%;
      }

      &__total {
        display: flex;
        flex-direction: column;
        .total {
          display: flex;
          justify-content: space-between;
          text-transform: uppercase;
          font-size: 14px;
        }
      }

      &__buttons {
        margin-top: 20px;
        input[type="submit"] {
          border: 2px solid $blue;
          background-color: $blue;
          cursor: pointer;
          border-radius: 5px;
          text-transform: uppercase;
          color: white;
          width: 200px;
          height: 40px;
          font-family: "PT Root UI Medium";
          font-size: 14px;
          margin-bottom: 16px;
        }
        input:hover {
          background-color: $blue-2;
          border-color: $blue-2;
        }
        input:active {
          outline: none;
          background-color: $blue-2;
          border-color: $blue-2;
        }
        input:focus {
          outline: none;
        }

        a {
          font-family: 'PT Root UI Light';
          text-transform: uppercase;
          font-size: 14px;
          margin-left: 68px;
          text-decoration: none;
          color: $blue;
        }
        a:hover {
          color: $black;
        }
      }
    }
  }
}