.menu
    .menu__logo
        a(href="#")
            span.test test
            | page
    nav.menu__categories
        a home
        a shop
        a sale
        a blog
        a contact
    .menu__user
        | icons