.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // координаты фиксированного menu
  position: fixed; /* Фиксированное положение */
  background: white; /* Цвет фона */
  z-index: 2;
  box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */

  &__logo {
    position: relative;
    left: 9.6%;
    margin: 15px 0 15px 0;

    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;

    a {
      text-decoration: none;
      color: $black;
    }

    .test {
      color: $blue;
    }
  }

  &__navigation {
    margin-top: 20px;
    width: 24%;

    font-family: 'PT Root UI Light';
    text-transform: uppercase;
    font-size: 14px;

    a {
      margin: 8px 12px 8px 12px;
      text-decoration: none;
      color: $black;
    }
    a:hover {
      color: $blue;
    }
  }

  &__buttons {
    display: flex;
    position: relative;
    right: 9.5%;
    margin-top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    .bag-icon-black:hover {
      opacity: 0;
    }

    .bag-icon-hover-active {
      position: absolute;
      left: 40px;
      z-index: -1;
    }
    .buttons__bag-icon {
      margin: 0 16px 0 16px;
    }

    .buttons_notification {
      display: none;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 58px;
      top: -11px;
      background: $blue;
      border-radius: 10px;
      color: white;
      font-family: 'PT Root UI Light';
      font-size: 11px;
      line-height: 16px;
      text-align: center;

    }

  }
}