.menu
    .menu__logo
        a(href="#")
            span.test test
            | page
    nav.menu__navigation
        a(href="#") home
        a(href="#") shop
        a(href="#") sale
        a(href="#") blog
        a(href="#") contact
    .menu__buttons
        img( src="./img/icons/search.svg" alt="")
        img( src="./img/icons/bag_black.svg" alt="")
        img( src="./img/icons/profile.svg" alt="")