.menu
    .menu__logo
        a(href="#")
            span.test test
            | page
    .menu__categories
        nav
            a home
            a shope
            a sale
            a blog
            a contact
    .menu__user
        | icons