.menu
    .menu__logo
        a(href="#")
            span.test test
            | page
    nav.menu__navigation
        a(href="#") home
        a(href="#") shop
        a(href="#") sale
        a(href="#") blog
        a(href="#") contact
    .menu__buttons
        .buttons__search-icon
            img( src="./img/icons/search.png" alt="")
        .buttons__bag-icon
            img( src="./img/icons/bag_black.png" class="bag-icon-black" alt="")
            img( src="./img/icons/bag_hover-active.png" class="bag-icon-hover-active" alt="")
        .buttons__profile-icon
            img( src="./img/icons/profile.png" alt="")