extends blocks/common.blocks/common/template.pug

block variables
	- title="ecomm-product-page"

block content
	.wrapper
		include blocks/common.blocks/header/header.pug

	include blocks/common.blocks/footer/footer.pug