.product-details
    .product-details__id
        span.SKU sku:&nbsp;
        span 404
    .product-details__aviability
        | Aviability:&nbsp;
        span Many in stock
    .product-details__name-product
        h1 Slim Fit Cotton Oxford Shirt
    .product-details__price
        h1 $200.00
