.product-details {
  margin-left: 20px;
  padding-left: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;

  font-family: 'PT Root UI Light';
  font-size: 14px;
  line-height: 20px;

  &__id {
    margin-bottom: 5px;
    span {
      color: $grey-2;
    }
    span.SKU {
      text-transform: uppercase;
      color: $black;
    }
  }

  &__aviability {
    text-transform: none;
    span {
      color: $grey-2;
    }
  }

  &__name-product {
    margin-top: 28px;
    h1 {
      font-family: 'PT Root UI Bold';
      margin: 0;
    }
  }

  &__price {
    margin-top: 20px;
    h1 {
      font-family: 'PT Root UI Bold';
      color: $blue;
      margin: 0;
    }
  }

  &__tax {
    margin-top: 10px;
  }

  &__color {
    margin-top: 30px;
    span {
      font-family: 'PT Root UI Bold';
      color: $blue;
    }
    span.COLOR {
      text-transform: uppercase;
      color: $black;
    }
  }

  &__buttons {
    margin-top: 10px;
    label > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
    }
    label > input + img{ /* IMAGE STYLES */
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 5px;
    }
    label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
      border:2px solid $blue;
    }

    .buttons__light-blue img {
      width: 56px;
      height: 60px;
      margin-right: 10px;
    }

    .buttons__pink img {
      width: 60px;
      height: 60px;
    }
  }

  &__size {
    margin-top: 11px;
    span {
      font-family: 'PT Root UI Bold';
      color: $blue;
    }
    span.SIZE {
      font-family: 'PT Root UI Light';
      text-transform: uppercase;
      color: $black;
    }
  }

  &__size-selectors {
    font-family: 'PT Root UI Bold';
    .size-selectors__checkbox {
      display: flex;
      margin-top: 20px;
    }
    label > input{ /* HIDE RADIO */
      visibility: hidden; /* Makes input not-clickable */
      position: absolute; /* Remove input from document flow */
    }
    label > input + span{ /* SPAN STYLES */
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 3px;
    }
    label > input:checked + span{ /* (RADIO CHECKED) SPAN STYLES */
      background: $blue;
      border: 2px solid $blue;
      color: white
    }
    span {
      padding: 10px;
      background: $grey;
      margin-right: 10px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  &__additional-functions {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    .additional-functions__additional-information {
      display: flex;
      a {
        text-decoration: none;
        color: $blue;
        margin-right: 20px;
      }
    }

    .additional-functions__about-this-product {
      display: flex;
      a {
        text-decoration: none;
        color: $blue;
        padding-right: 38px;
      }
    }
  }

  &__cart-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .cart-buttons__count-buttons {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      //(убираем дефолтные кнопки)
      //Для Chrome
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }
      //Для Firefox
      input[type=number]{
        -moz-appearance: textfield;
      }

      input {
        width: 32px;
        border: none;
        background-color: $grey;
        text-align: center;
      }

      .count-buttons__arrow-minus {
        background: url('./img/icons/minus.png') no-repeat center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: $grey;
        cursor: pointer;
      }
      .count-buttons__arrow-plus {
        background: url('./img/icons/plus.png') no-repeat center;
        width: 50px;
        height: 50px;
        border: none;
        background-color: $grey;
        cursor: pointer;
      }
    }

    .cart-buttons__add-to-cart {
      input[type="submit"] {
        background: url('./img/icons/bag_white.png') no-repeat 33% center;
        border: 2px solid $blue;
        background-color: $blue;
        cursor: pointer;
        border-radius: 5px;
        text-transform: uppercase;
        color: white;
        width: 380px;
        height: 50px;
        margin-right: 30px;
      }
    }
  }
}