.product-details
    .product-details__id
        span.SKU sku:&nbsp;
        span 404
    .product-details__aviability
        | Aviability:&nbsp;
        span Many in stock
    .product-details__name-product
        h1 Slim Fit Cotton Oxford Shirt
    .product-details__price
        h1(id="price") $200.00
    .product-details__tax
        | Tax included
    .product-details__color
        span.COLOR color:&nbsp;
        span(id='color-light-blue') Light Blue
    .product-details__buttons
        form(class="buttons__checkbox")
            label(class="buttons__light-blue")
                input(type="checkbox" checked)
                img(src="./img/shirt_light-blue_small.png")
            label(class="buttons__pink")
                input(type="checkbox")
                img(src="./img/shirt_pink_small.png")
    .product-details__size
        span.SIZE size:&nbsp;
        span(id="size-M") M
    .product-details__size-selectors
        form(class="size-selectors__checkbox")
            label(class="XS")
                input(type="radio")
                span XS
            label(class="S")
                input(type="radio")
                span &nbsp;S
            label(class="M")
                input(type="radio" checked)
                span &nbsp;M
            label(class="L")
                input(type="radio")
                span &nbsp;L
            label(class="XL")
                input(type="radio")
                span XL
    .product-details__additional-functions
        .additional-functions__additional-information
            a(href="#") Size guide
            a(href="#") Shipping
        .additional-functions__about-this-product
            a(href="#") Ask about this product
    form.product-details__cart-buttons
        .cart-buttons__count-buttons
            button(class="count-buttons__arrow-minus")
            input(type="number" class="count-buttons_input-num" value="1")
            button(class="count-buttons__arrow-plus")
        .cart-buttons__add-to-cart
            label
                input(type="submit" value="add to cart")