.product-details
    .product-details__id
        span.SKU sku:&nbsp;
        span 404
    .product-details__aviability
        | Aviability:&nbsp;
        span Many in stock
    .product-details__name-product
        h1 Slim Fit Cotton Oxford Shirt
    .product-details__price
        h1 $200.00
    .product-details__tax
        | Tax included
    .product-details__color
        span.COLOR color:&nbsp;
        span Light Blue
    .product-details__buttons
        form(class="buttons__checkbox")
            label(class="buttons__light-blue")
                input(type="checkbox" name="field-shirt-light-blue")
                img(src="./img/shirt_light-blue_(small).png")
            label(class="buttons__pink")
                input(type="checkbox" name="field-shirt-pink")
                img(src="./img/shirt_pink_(small).png")
    .product-details__size
        span.SIZE size:&nbsp;
        span M
    .product-details__size-selectors
        form(class="size-selectors__checkbox")
            label(class="checkbox__input")
                input(type="checkbox")
                span XS
            label(class="checkbox__input")
                input(type="checkbox")
                span &nbsp;S
            label(class="checkbox__input")
                input(type="checkbox")
                span &nbsp;M
            label(class="checkbox__input")
                input(type="checkbox")
                span &nbsp;L
            label(class="checkbox__input")
                input(type="checkbox")
                span XL
    .product-details__additional-functions
        .additional-functions__additional-information
            a(href="#") Size guide
            a(href="#") Shipping
        .additional-functions__about-this-product
            a(href="#") Ask about this product
    form.product-details__cart-buttons
        .cart-buttons__count-buttons
            button(class="count-buttons__arrow-minus")
            input(type="number" class="count-buttons_input-num" value="1")
            button(class="count-buttons__arrow-plus")
        .cart-buttons__add-to-cart
            label
                input(type="submit" value="add to cart")