.slider__other-img
    img(src="./img/shirt_light-blue_big.png" alt="")
    img(src="./img/shirt_light-blue_increase.png" alt="")
    img(src="./img/shirt_light-blue_front.png" alt="")
    img(src="./img/shirt_light-blue_back.png" alt="")
.slider
    .slider__carusel(data-slider)
        .nav
            button.prev(data-slider-nav="prev")
            button.next(data-slider-nav="next")
            button.increase
        .wrap(data-slider-wrap)
            .slide(style="background-image: url(img/shirt_light-blue_big.png);")
            .slide(style="background-image: url(img/shirt_light-blue_increase.png);")
            .slide(style="background-image: url(img/shirt_light-blue_front.png);")
            .slide(style="background-image: url(img/shirt_light-blue_back.png);")