.slider
    .slider__other-img
        img(src="./img/shirt_light-blue_(big).png" alt="")
        img(src="./img/shirt_light-blue_(increase).png" alt="")
        img(src="./img/shirt_light-blue_front.png" alt="")
        img(src="./img/shirt_light-blue_back.png" alt="")
    .slider__carusel
        img(src="./img/shirt_light-blue_(increase).png" alt="")
        .nav
            button.prev
            button.next
            button.increase