.slider {
  display: flex;
  margin-right: 20px;
  position: relative;
  width: 480px;
  height: 600px;
  overflow: hidden;

  .wrap {
    white-space: nowrap;
    font-size: 0;
    left: 0;
    height: 660px;
    position: absolute;
    transition: left 0.3s;
  }

  .slide {
    display: inline-block;
    width: 480px;
    height: 600px;
    //position:absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      width: 480px;
      height: 600px;
    }
  }

  &__other-img {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-right: 1.8%;

    img:hover {
      opacity: 0.4;
    }
    img {
      margin-bottom: 20px;
    }
    img:last-child {
      margin-bottom: 0;
    }
  }

  &_selected {
    opacity: 0.4;
  }

  &__carusel {
    .nav {
      button.prev {
          position: absolute;
          background: url(./img/icons/arrow_left.png) center/contain no-repeat;
          background-color: #FFFFFF;
          border-radius: 20px;
          border: none;
          top: 47%;
          left: 3%;
          width: 35px;
          height: 35px;
          z-index: 1;
          cursor: pointer;
      }
      button.prev:focus {
        outline: none;
      }
      button.prev:hover {
        background-color: $blue;
      }
      button.next {
        position: absolute;
        background: url(./img/icons/arrow_right.png) center/contain no-repeat;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: none;
        top: 47%;
        left: 89%;
        width: 35px;
        height: 35px;
        z-index: 1;
        cursor: pointer;
      }
      button.next:focus {
        outline: none;
      }
      button.next:hover {
        background-color: $blue;
      }
      button.increase {
        position: absolute;
        background: url(./img/icons/increase.png) center/contain no-repeat;
        background-color: #FFFFFF;
        border-radius: 20px;
        border: none;
        top: 2%;
        left: 90%;
        width: 30px;
        height: 30px;
        z-index: 1;
        cursor: pointer;
      }
      button.increase:focus {
        outline: none;
      }
      button.increase:hover {
        background-color: $blue;
      }
    }
  }

}